[paths]
source =
   src/dependenpy
   */site-packages/dependenpy

[run]
branch = true
source =
    dependenpy
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
